@mixin page {
  display: block;
  min-width: 100vw;
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
}

@mixin viewport {
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
}

@mixin flexCenterAll {
  display: flex;
  justify-content: center;
  align-items: center;
}